NEXT_PUBLIC_API_URL=https://service.staging.dispattch.dev/api/v1
NEXT_PUBLIC_GRAFANA_URL=https://grafana.staging.dispattch.dev

# Keycloak Configuration
NEXT_PUBLIC_KEYCLOAK_URL=https://service.staging.dispattch.dev
NEXT_PUBLIC_KEYCLOAK_REALM=dispatch
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=my-client
NEXT_KEYCLOAK_CLIENT_SECRET=
